<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookShop.mapper.EnshrineMapper">
  <!--  private int goodsId;  //货物id
    private int id;       //评论人id
    private int updatePriceFlag=0; //降价标志   -1为降价0为正常1为升价
    private int validFlag=0;  //无效标志   0为有效1为无校
    private double changePrice=0; //价格较上次降低或升高多少
    private String goodsName; //货物名称-->
    <resultMap id="enshrineItemMap" type="EnshrineItem">
        <id column="id" property="id"></id>
        <result column="goodsId" property="goodsId"></result>
        <result column="updatePriceFlag" property="updatePriceFlag"></result>
        <result column="validFlag" property="validFlag"></result>
        <result column="changePrice" property="changePrice"></result>
        <result column="goodsName" property="goodsName"></result>
    </resultMap>
<!--    public boolean updatePriceFlagStatus(int updatePriceFlag,double changePrice);-->
    <update id="updatePriceFlagStatus">
        update enshrine set updatePriceFlag=#{updatePriceFlag} , changePrice=#{changePrice} where goodsId=#{goodsId}
    </update>

<!--    //修改收藏商品的Valid状态-->
<!--    public boolean updateValidStatus();-->
    <update id="updateValidStatus">
        update enshrine set validFlag=1 where goodsId=#{goodsId}
    </update>
</mapper>