*{
    padding:0;
    margin:0;
}
#nav{

    overflow: auto;
    zoom:1;
    margin:0 auto;
    width: 1100px;
}
#wrapper-top{

    width:100%;
    background: #f5f5f5;

}
#nav ul {
    float: left;
    background: #f5f5f5;
    width:1000px;
    list-style: none;
    height:30px;

}
.li1{
    font: 13px 微软雅黑 ;
    float: left;
    text-align: center;

}

.li2{
    font: 13px 微软雅黑 ;
    float:right;
    text-align: center;


}
a{
    text-decoration: none;
    cursor: pointer;
}

#nav ul li a:hover{
    display:inline-block;
    color:#ff4400;
    background: white;
}


li:after{
    content:"";
    display: inline-block;
    margin-right: 25px;

}
#nav li {
    padding-top:4px;
}
a{
    color: #6c6c6c;
}

.imgDiv{
    width:418px;
    float: left;
    display: inline-block;
    height:418px;
    margin-left: 75px;
}
#goodsDetailWrapper{
    width: 100%;
    overflow: auto;
    zoom: 1;
    height:450px;
    margin-top:130px;
}
#goodsDetailDiv{
    width: 600px;
    height:418px;
    display: inline-block;
    margin: 0 auto;
    margin-left:50px;
    float: left;
}

#tabDiv{
    height:43px;
    float: left;
    width:1120px;
    overflow: auto;
    margin-top: 50px;
    margin-left:75px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
#tabDiv ul{
    float: left;
    text-align: center;
    list-style: none;
}

#tabDiv li, .p1{
    width:120px;
    height:38px;
    background: black;
    color: white;
    font-size: 18px;
    padding-left:20px;
    padding-right:-10px;
    padding-top:5px;
    border-radius: 2%;
    display: inline-block;

}
.f1{
    font-weight: bold;
    font-size: 17px;
    height:45px;
    padding-top:3px;
    width:510px;
    color:#000;
    float:left;
    overflow: hidden;
    line-height:18px;


}


#moneyDiv-son{
    width: 510px;
    height: 50px;
    margin-top: 10px;

}

.f2{
    margin-left: 48px;
    font-weight: bold;
    float: left;
    font-size: 32px;
    color:#f40;
}
.f3{
    margin-left: 20px;
    font-weight: normal;
    float: left;
    font-size: 16px;
    margin-top:15px;
    color: #6c6c6c;
}
#postPriceDiv{
    width: 510px;
    height:36.67px;
    background: linear-gradient(to right,gold,orange);
    float: left;
    margin-top:5px;
}
#selectAddrDiv{
    float: left;
    margin-left:30px;
    margin-top: 5px;
    height: 30px;
    width: 70px;
}

.f4{
    color:#f40;
    font-weight: bold;
    display: inline-block;
    font-size:15px;



}
.li3{
    padding-top:7px;
    color: #6c6c6c;
    float: left;
    border-right:1px dotted darkgrey;
    font-size: 14px;
    height: 28px;
    margin-top:1px;
    margin-left:20px;

}

#comment-ul{

    list-style: none;
    width: 435px;

    height: 38px;
    border: 1px dotted black;
    border-right: none;
    margin-top:5px;
    float: left;

}
#selectNumberDiv{
    float: left;
    width: 500px;
    height: 35px;
    margin-top: 5px;
}

.btn1{
    height:18px;
    width:25px;
    background:white;
    outline: none;
    cursor: pointer;

}
#addGoodDiv{
    margin-top: 20px;
    width: 300px;
    height: 42px;
    float: left;
    margin-left: 90px;
    outline: none;
}
#addGoodBtn{
    width: 240px;
    height: 42px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    zoom: 1;
    font-size: 20px;
    font-weight: bold;
    background: #f40;
}
#bookShortDetailWrapper{
    margin-top: 100px;
    height:400px;
    overflow-scrolling: auto;
    width:100%;

}
#bookShortDetail_div{
    height:300px;
    width:1100px;
    border: 1px solid gainsboro;
     margin-left: 70px;
}
.textarea1 {
    padding-top: 20px;
    padding-left:40px;
    font-size:20px;
    background: white;
    color: #6c6c6c;

}

#commentDiv{
    height: 1300px;
    overflow: hidden;
    margin-top: 30px;
}
#commentDiv-items::-webkit-scrollbar {display:none}
#commentDiv-items{
    margin-top: 10px;
    height: 1180px;
    margin-left: 70px;
    width: 1100px;
    overflow: scroll;
}
.commentDiv-items-ul::-webkit-scrollbar {display:none}
.commentDiv-items-ul{
    border:1px solid #f40 ;
    padding-top:10px;
    font-size:18px;
    padding-left:10px;
    height: 140px;
    overflow:scroll;
}
.commentDiv-items-innerDiv{
    height: 230px;

}

.p2{
    color:#6c6c6c;
    margin-top:5px;
    margin-bottom:5px;
    font-size:18px;
}
.sendComment{
    font-size: 18px;
    margin-top:5px;
    margin-left: 1010px;
    color:white;
    background:red;
    width: 160px;
    height:35px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    border-radius: 3%;

}

.enshrine{
    background: red;
    color:white;
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
    display: inline-block;
    width: 240px;
    height: 40px;
    border-radius:2%;
    text-align: center;
    padding-top: 8px;
    margin-left: 51px;
    margin-top: 20px;

}

#talkDiv{
    width:1040px;


}
#talkDiv a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    float:right;
    background: blue;
    font-weight: bold;
    width: 150px;
    height:35px;

    padding-top: 5px;
    text-align: center;
}

#commentAear{
    padding-left: 0px;
}
